
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AnaLayout.cshtml";
}

<!-- HERO -->
<section class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">

                    <h1 class="text-white" data-aos="fade-up">Projenizde ilerleme durumunuzu online takip edin </h1>

                    <a href="/KayitOl/KayitOl/" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Şimdi Üye olun!</a>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="100">

                    <img src="~/Template/webTemplate/images/workingGirl.png" class="rounded-circle" alt="working girl">
                </div>
            </div>

        </div>
    </div>
</section>



<!-- ABOUT -->
<section class="about section-padding pb-0" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 mx-auto col-md-10 col-12">
                <div class="about-info">

                    <h2 class="mb-4" data-aos="fade-up">Grup Projeleri için <strong>Online Planlayıcı</strong></h2>

                    <p class="mb-0" data-aos="fade-up">
                        StarsUp Planner projelerinizi daha kolay planlayabilmenizi ve takip edebilmenizi amaçlıyor. 
                        Lütfen ilk olarak <a href="/GirisYap/GirisYap/"> giriş</a> yapın, Hesabınız yoksa <a href="/KayitOl/KayitOl/"> kayıt olun.</a>
                        <br><br>Artık başlamaya<strong> hazırsınız!</strong>
                    </p>
                </div>

                <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                    <img src="~/Template/webTemplate/images/organizer.png" class="img-fluid" alt="office">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- PROJECT -->
<!-- TESTIMONIAL -->
<section class="testimonial section-padding">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-5 col-12">
                <div class="contact-image" data-aos="fade-up">

                    <img src="~/Template/webTemplate/images/undraw_female_avatar.png" class="img-fluid" alt="website">
                </div>
            </div>

            <div class="col-lg-6 col-md-7 col-12">
                <h4 class="my-5 pt-3" data-aos="fade-up" data-aos-delay="100">Kullanıcılar Ne Düşünüyor</h4>

                <div class="quote" data-aos="fade-up" data-aos-delay="200"></div>

                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="300">Kullanımı kolay ve anlaşılır.Projelerimi rahatlıkla kontrol edebildim.Teşekkürler StarSup!</h2>

                <p data-aos="fade-up" data-aos-delay="400">
                    <strong>Mary Zoe</strong>

                    <span class="mx-1">/</span>

                    <small>Digital Agency (CEO)</small>
                </p>
            </div>

        </div>
    </div>
</section>
