
@{
    ViewBag.Title = "AnaLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)


    <title>StarsUP Planner</title>
    <!--

    DIGITAL TREND

    https://templatemo.com/tm-538-digital-trend

    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="~/Template/webTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Template/webTemplate/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/webTemplate/css/aos.css">
    <link rel="stylesheet" href="~/Template/webTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/webTemplate/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/Template/webTemplate/css/templatemo-digital-trend.css">
</head>
<body>
    <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/Anasayfa/Index/">
                <i class="fa fa-line-chart"></i>
                STARS UP PLANNER
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Nedir?</a>
                    </li>

                    <li class="nav-item">
                        <a href="/GirisYap/GirisYap/" class="nav-link contact">Giriş Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
                    <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Siz hayal edin <strong>biz</strong> gerçekleştirelim.</h1>
                </div>

                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="my-4">İletişim Bilgileri</h4>

                    <p class="mb-1">
                        <i class="fa fa-phone mr-2 footer-icon"></i>
                        +99 000 000 0000
                    </p>

                    <p>
                        <a href="#">
                            <i class="fa fa-envelope mr-2 footer-icon"></i>
                            starsup@company.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
                    <h4 class="my-4">Adres</h4>
                    <p class="mb-1">

                        <i class="fa fa-home mr-2 footer-icon"></i>
                        Bursa, Türkiye
                    </p>
                </div>

                <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
                    <p class="copyright-text">
                        Copyright &copy; 2021 StarsUP
                        <br>
                    </p>
                </div>




            </div>
        </div>
    </footer>


    <!-- SCRIPTS -->
    <script src="~/Template/webTemplate/js/jquery.min.js"></script>
    <script src="~/Template/webTemplate/js/bootstrap.min.js"></script>
    <script src="~/Template/webTemplate/js/aos.js"></script>
    <script src="~/Template/webTemplate/js/owl.carousel.min.js"></script>
    <script src="~/Template/webTemplate/js/smoothscroll.js"></script>
    <script src="~/Template/webTemplate/js/custom.js"></script>

</body>
</html>

